//Menu
.menu-list {
    width: 224px;
    display: inline-block;



    .menu-item {
        margin-left: 0px;
        color: var(--primary);
    }
    .menu-item:last-child {
        border-bottom: 0;
    }
    .menu-item:nth-last-child(2) {
        border-bottom: 0;
    }

}


.menu-popper {
    padding-bottom: 8px ;
}
// Menu item
.menu-item {
    width: 100%;
    border-radius: 0;
    border-bottom: 1px solid var(--white--text);
    background-color: transparent;
    justify-content: left;
    padding: 11px 16px;
    line-height: 1.8rem;

    &.seperate {
        border-top: 2px solid var(--primary);
       
    }

    &:hover {
        background: linear-gradient(90deg, rgb(196, 210, 217) 0%, rgb(215, 215, 243) 47%, rgb(191, 207, 223) 100%);
    }
   
}


// header item
.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
}

.back-btn {
    width: 50px;
    height: 100%;
    cursor: pointer;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
